<%= content_for :title, 'All Members' %>

<div class="card strpied-tabled-with-hover">
  <div class="card-header ">
    <!-- <h4 class="card-title">Striped Table with Hover</h4> -->
    <!-- <p class="card-category">Here is a subtitle for this table</p> -->
  </div>
  <div class="card-body table-full-width table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <th>Email</th>
        <th>Team</th>
        <th>Number of incidents reported</th>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= member.email %></td>
            <td><%= member.team.name %></td>
            <td><%= member.incidents_reported.size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
