<h1>New Managers Incident Recording</h1>

<%= render 'form', managers_incident_recording: @managers_incident_recording, url: managers_incident_recordings_path %>

<%= link_to 'Back', managers_incident_recordings_path %>
