<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul class="footer-menu">
        <li>
          <%= link_to "Company", 'http://www.narolainfotech.com', target: '_blank' %>
        </li>
      </ul>
      <p class="copyright text-center">
        ©
        <script>
            document.write(new Date().getFullYear())
        </script>
        <a href="http://www.creative-tim.com">Creative Tim</a>, integrated here by Aakanksha
      </p>
    </nav>
  </div>
</footer>
